$priamary-color-dark: #293c51;

$primary-color-light:#455971;




$border-color:#a8bfef;


// font

$primaryfont: Montserrat , sans-sarif;
$secondaryfont: Open Sans;

$headfontsize: 56px;
$paragraphfontsize: 16px;
$titlefontsize:20px;
$largetittlesize:26px;
$smallparagraphsize:14px;

$headfontcolor: #384f68;
$paragraphcolor:#333333;
$tittlecolor:#a8bfef;



$nav-active-text:#a8bfef;
$para_text:white;


