
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');





@import"var.scss";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

body{
    h1{
        color: $priamary-color-dark;
    }
}

@mixin display(){
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @media (max-width:400px) {

        flex-direction: column;
    }
}

@mixin bd-radius(){
    border: none;
    border:4px solid $border-color;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: $primary-color-light;
}





.header{
    background-color: $priamary-color-dark;
    padding: 40px 0;

    .navbar{
        @include display();

        .menu{
            ul{
                @include display();
                gap: 20px;
                

                li{
                    list-style: none;
                    font-size: 18px;
                    font-weight: 600;
                    font-family: $primaryfont;
                    color: $para_text;
                    cursor: pointer;
                    
                }

            }

            
        }

        .navbtn{

            @include display();

            a{
                text-decoration:none;
                color: $para_text;
                font-size: $smallparagraphsize;
                font-family: $secondaryfont;

                &:hover{
                    color: $nav-active-text;
                }
            }

            i{
                color: $para_text;
            }
            
             
        }
    }
}





#hero{

    background-color: $primary-color-light;
    padding: 120px 30px;
    
    .hero{

        
    
    
        .herobox{
            @include display();
            
    
            .herotext{
                width: 50%;

                @media (max-width:400px) {

                    width: 100%;
                    padding: 50px 15px;
                    
                    
                }
                
    
                h1{
                    color: $para_text;
                    margin: 20px 0;
                    font-size: $headfontsize;
                    font-family: $primaryfont;

                    @media (max-width:400px) {
                        font-size: 32px;
                    }

                }
                p{
                    color: $para_text;
                    margin: 20px 0;
                    font-size: $paragraphfontsize;
                    font-family: $primaryfont;
                }
    
                button{
                    margin: 20px 16px 0 0;
                    @include bd-radius();
                    color: $border-color;
                    font-weight: 700;
                    font-size: $smallparagraphsize;

                    &:hover{
                        background-color: $border-color;
                        color: $priamary-color-dark;
                    }
                }
    
    
            }
    
            .heropic{
                width:50%;

                @media (max-width:400px) {

                    width: 100%;
                    padding: 50px 15px;
                    
                }
    
                img{
                    height: 100%;
                    width: 100%;
                    border-top-left-radius: 12rem;
                    border-bottom-left-radius: 72px;
                }
            }
        }
    }
}





#company{
    .company{

        .companyupper{
            padding: 100px 15px;

            p{
                font-size: $smallparagraphsize;
                font-family: $primaryfont;
                color: $headfontcolor;
            }
        }
        .companylogo{
            @include display();
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
            }

            @media (max-width:400px) {

                padding: 50px 15px;

                img{
                    width: 50%;
                }
                gap: 30px;

            }
        }

        .companytext{
            text-align: center;
            padding-bottom: 100px;
            h1{
                font-size: $headfontsize;
                color:$headfontcolor;
                padding: 0 15px;

                

            
            }

            @media (max-width:400px) {

                h1{
                    font-size: 42px;
                }
                
            }
            p{
                font-size: $titlefontsize;
                margin-top: 20px;
                color: $paragraphcolor;
                padding: 0 15px;
            }

            span{

                text-decoration: underline;
                
            }

        }

        .companybox{
            padding: 0px 30px 100px;
            @include display();

            .box{
                text-align: center;
                width: 20%;

                @media (max-width:400px) {

                    width: 100%;
                    padding: 50px 15px;
                    
                }

                i{
                    font-size: 60px;
                }

                h3{
                    font-family: $primaryfont;
                    font-size: $titlefontsize;
                    color: $headfontcolor;
                    margin: 20px 0;

                }

                p{

                    font-family: $secondaryfont;
                    font-size: $paragraphfontsize;
                    color: $paragraphcolor;
                    margin-bottom: 20px;

                }
            }
        }
    }
}





#routine{

    background-color: $priamary-color-dark;
    padding: 100px 0;

    .routinetext{
        text-align: center;
        padding-bottom: 60px ;

        h1{
            font-size: $headfontsize;
            color: $para_text;
        }

        @media (max-width:400px) {

            h1{
                font-size: 42px;
                margin-bottom: 20px;
            }
            
        }
        p{
            font-family: $primaryfont;
            color: $para_text;
            font-size: 18px;
            padding: 0 15px;
        }

    }

    .routinebox{
        @include display();

        .rinse{
            width: 65%;

            @media (max-width:400px) {

                width: 100%;
                padding: 50px 15px;
                
            }

            h1{
                color: $nav-active-text;
                font-family: $primaryfont;
                font-size: $largetittlesize;
            }

           

            img{
                
                width: 100%;
                border-radius: 20px;
            }

            .rinsebox{
                margin-top: 30px;
                @include display();

                .rinseinnerbox{
                    
                    


                    .innertext{
                        background: #fff;
                        padding: 60px 20px 30px;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        margin-top: -30px;


                        h3{
                            font-family: $primaryfont;
                            font-size: $titlefontsize;
                            color: $headfontcolor;
                        }
                        p{
                            font-family: $primaryfont;
                            font-size: $titlefontsize;

                        }
                        h6{
                            margin-top: 40px;
                            font-size: $smallparagraphsize;
                            font-family: $primaryfont;
                        }
                    }
                }
            }
        }

        .brush{
            width: 32%;

            @media (max-width:400px) {

                width: 100%;
                padding: 50px 15px;
                
            }

            h1{
                color: $nav-active-text;
                font-family: $primaryfont;
                font-size: $largetittlesize;
            }

            img{
                border-radius: 20px;
                width: 100%;
            }
            .brushbox{
                margin-top: 30px;
                @include display();

                .brushinnerbox{
                    
                    


                    .innertext{
                        background: #fff;
                        padding: 60px 20px 30px;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        margin-top: -30px;


                        h3{
                            font-family: $primaryfont;
                            font-size: $titlefontsize;
                            color: $headfontcolor;
                        }
                        p{
                            font-family: $primaryfont;
                            font-size: $titlefontsize;

                        }
                        h6{
                            margin-top: 40px;
                            font-size: $smallparagraphsize;
                            font-family: $primaryfont;
                        }
                    }
                }
            }
        }
    }
}





#blog{
    padding: 100px 0 0;

    .blog{

        .blogbox{
            @include display();
            gap: 40px;

            .blogpic{
                width: 40%;

                @media (max-width:400px) {

                    width: 100%;
                    padding: 50px 15px;
                    
                }

                img{
                    width: 100%;
                    border-radius: 10px;
                }
            }
            .blogtext{
                width: 60%;
                @media (max-width:400px) {

                    width: 100%;
                    padding: 50px 15px;
                    
                }

                h1{
                    font-family: $primaryfont;
                    font-size: $largetittlesize;
                    color: $headfontcolor;
                }
                p{
                    font-family: $primaryfont;
                    font-size: $paragraphfontsize;
                    color: $paragraphcolor;
                    margin-top: 20px;
                }
                button{
                    margin-top: 20px;
                    border: none;
                    background: transparent;
                }
            }
        }
    }
}




#why{


    .why{
        text-align: center;
        padding: 100px 0;

        h1{
            font-family: $primaryfont;
            font-size: $largetittlesize;
            color: $headfontcolor;
        }
        p{
            font-family: $primaryfont;
            font-size: $largetittlesize;
            color: $headfontcolor;
            font-weight: 700;
            margin-top: 20px;
            padding: 0 15px;
        }
        @media (max-width:400px) {

            p{
                font-size: 20px;
            }
            
        }
    }

    .whybox{
        @include display();
        padding-bottom: 100px;

        .dentiest{
            text-align: center;

            i{
                font-size: 60px;
                margin-bottom: 10px;
            }
            h3{
                font-size: $largetittlesize;
                color: $headfontcolor;
                font-family: $primaryfont;
                margin-bottom: 10px;
            }
            p{
                font-size: $paragraphfontsize;
                color: $headfontcolor;
                font-family: $primaryfont;
                margin-bottom: 10px;
            }
        }
    }
}



#testimonial{
    padding: 100px 0;

    background-color: $nav-active-text;

    .testimonial{


        .testhead{
            @include display();
            padding: 0 30px 20px;

            .icon{
                i{
                    border: 2px solid $priamary-color-dark;
                    padding: 10px;
                    border-radius: 10px;
                }
            }

            h1{
                font-family: $primaryfont;
                font-size: $largetittlesize;
                color: $headfontcolor;
            }
        }

        .comment{
            padding: 60px 120px;
            background-color: #fff;
            border-radius: 12rem;
            border-top-right-radius: 72px;
            border-bottom-left-radius: 72px;

            @media (max-width:400px) {

                padding: 40px 80px;

                
                
            }

            h2{
                font-family: $primaryfont;
                font-size: $largetittlesize;
                color: $paragraphcolor;

                @media (max-width:400px) {
                    font-size: 16px;
                }
            }
            p{
                margin-top: 40px;
                font-family: $primaryfont;
                font-size: $paragraphfontsize;
                color: $headfontcolor;
            }
        }
    }
}


#shop{

    background-color: $priamary-color-dark;
    .shopbox{
        padding: 80px 30px 0;
        @include display();


        .leftshop{

            @media (max-width:400px) {

                width: 100%;
                padding: 50px 15px;
                
            }

            @include display();
            flex-direction: column;
            padding: 60px 80px ;
            border: 3px solid $headfontcolor;
            border-radius: 12rem;
            border-top-right-radius: 72px;
            border-bottom-left-radius: 72px;

            i{
                font-size: 60px;
                color: #fff;
            }

            h1{
                font-family: $primaryfont;
                font-size: $largetittlesize;
                color: #fff;
            }

            p{
                font-family: $primaryfont;
                font-size: $titlefontsize;
                color: #fff;
                text-align: center;
            }


            button{
                margin: 20px 16px 0 0;
                @include bd-radius();
                color: $border-color;
                font-weight: 700;
                font-size: $smallparagraphsize;

                &:hover{
                    background-color: $border-color;
                    color: $priamary-color-dark;
                }
            }

            
        }

        .rightshop{

            @media (max-width:400px) {

                width: 100%;
                padding: 50px 15px;
                
            }

            @include display();
            flex-direction: column;
            border: 3px solid $headfontcolor;
            padding: 40px 60px 60px;
            text-align: center;
            border-radius: 12rem;
            border-top-left-radius: 72px;
            border-bottom-right-radius: 72px;

            button{
                margin: 20px 16px 0 0;
                @include bd-radius();
                color: $border-color;
                font-weight: 700;
                font-size: $smallparagraphsize;

                &:hover{
                    background-color: $border-color;
                    color: $priamary-color-dark;
                }
            }

            
            i{
                font-size: 60px;
                color: #fff;

            }

            h1{
                font-family: $primaryfont;
                font-size: $largetittlesize;
                color: #fff;
            }

            p{
                font-family: $primaryfont;
                font-size: $titlefontsize;
                color: #fff;
            }
        }
    }
}


#footer{

    background-color: $priamary-color-dark;
    padding: 80px 30px 60px;
    
    
    .footer{
        @include display();

        @media (max-width:400px) {

            padding: 20px 15px;
            text-align: center;
            
        }

        .footbox{



            p{
                font-family: $primaryfont;
                font-size: $titlefontsize;
                color: $nav-active-text;
            }

            ul{
                list-style: none;
                margin-top: 20px;
                li{
                    margin-top: 10px;
                    font-family: $primaryfont;
                    font-size: $paragraphfontsize;
                    color: $para_text;
                }
            }

            .socialicon{
                padding-top: 30px;
                i{
                    
                    
                    font-size: 24px;
                    color: #fff;
                    margin-left: 10px;
                }
            }
        }
    }

    .footerbottom{
        padding: 60px 30px 40px;
        text-align: center;
        color: #fff;
    }
}